:root {
    --orange: #e6750c;
    --peach: #f57048;
    --purple: #913a94;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}
h1 {
    font-size: clamp(2rem, 5vw, 5rem);
    font-weight: 700;
}
a {
    text-decoration: none;
    color: var(--purple);
    transition: color 0.3s ease-in-out;
}
a:hover {
    color: var(--peach);
}
body {
    height: 100vh;
    width: 100vw;
}
.full-width {
    width: 100%;
}
.force-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.topbottom-1 {
    padding: 1em 0;
}
.fancy-text {
    text-shadow: 0.07em 0.07em 0px #1a1a1a, 0.1em 0.1em 0px var(--orange),
        0.15em 0.15em 0 var(--purple);
    letter-spacing: 0.5vw;
    text-transform: uppercase;
}
.reverse-fancy-text {
    text-shadow: 0.07em 0.07em 0px #1a1a1a, 0.1em 0.1em 0px var(--purple),
        0.15em 0.15em 0 var(--orange);
    letter-spacing: 0.5vw;
    text-transform: uppercase;
}
.very-large-text {
    font-size: clamp(2em, 9.5vw, 5em);
    font-weight: 700;
}
.weather-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    padding: 1em;
    background: #333333;
    margin: 2em auto;
    border-radius: 5px;
}
.weather-container > * {
    width: 270px;
    margin: 4px;
}
.later-container,
.now-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    padding: 0.5em;
    border-radius: 5px;
}
.later-container:hover {
    cursor: pointer;
}
.now-container:hover {
    cursor: pointer;
}

#location {
    display: grid;
    place-items: center;
    font-style: italic;
}
#location:before {
    content: "WEATHER";
    display: inline-flex;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 5px;
    color: #fff;
    text-shadow: 0.1em 0.1em 0px #333333, 0.13em 0.13em 0px var(--orange),
        0.15em 0.15em 0 var(--purple);
}
img {
    max-width: 100%;
}
/* dropdown */
.menu_container {
	display: flex;
	justify-content: center;
	flex-flow: column;
	margin: 4px;
	width: 245px;
	background-color: #444;
	border-radius: 5px;
}
.menu_title {
    padding: 0.5em;
    cursor: pointer;
}
.submenu_list {
	list-style: none;
}
.submenu_item {
    background-color: #555;
}
.submenu_item:hover {
    background-color: #666;
}
.submenu_item a {
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 0.5em;
    display: flex;
}
.submenu_item a:hover {
    color: var(--peach);
}
a.moremenu:link {
    font: inherit;
    text-align: center;
    text-decoration: none;
    padding: 3px 7px;
    color: #1c3e8c;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
a.moremenu:visited {
    font: inherit;
    text-align: center;
    text-decoration: none;
    padding: 3px 7px;
    color: #1c3e8c;
    border: solid 1px #ccc;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
a.moremenu:hover {
    text-decoration: none;
    color: #5a7a9b;
    border: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#ul_Rep {
    position: relative;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
}
#ul_Rep li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font: inherit;
}
#ul_Rep div {
    position: absolute;
    margin: 0;
    padding: 0;
    border: none;
}
#ul_Rep div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #262626;
    color: #fff;
    font: inherit;
}
#ul_Rep div a:hover {
    background: #5d5d5d;
    color: #fff;
}
/* end */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1a1a1a;
        color: #fffffe;
    }
}
