---
// Layout Import
import MyMainLayout from '../layouts/MyMainLayout.astro';
// You can import components from any supported Framework here!
import Clock from 'react-live-clock';
import WeatherComponent from '../components/WeatherComponent.astro';
let title = 'My Homepage';
// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/

---


<MyMainLayout title={title}>
    <h1 class="force-center topbottom-1 fancy-text">Hello There!</h1>
	<Clock className="reverse-fancy-text force-center very-large-text" format={"h:mm:ss A"} ticking={true} timezone={"US/Central"} />
    <WeatherComponent />
</MyMainLayout>
