---
import {timeOutValue, setTimeToHide_ID, mItem, showmenu, setTimeToHide, HideMenu, ReSetTimer} from "../scripts/main.js";
---
    <div class="menu">
                
        <!--THE EVENTS TO SHOW AND HIDE THE MENUS.-->
        <a class="moremenu" onmouseover="showmenu('divLiCat');" 
                onmouseout="setTimeToHide()" href="#">CATEGORIES</a>

        <ul id="ul_Rep">
            <li>
                <div id="divLiCat" onmouseover="ReSetTimer()" 
                    onmouseout="setTimeToHide()" 
                    style="display:none;">

                    <a href="#" title="Cascading Style Sheets">Cascading Style Sheets</a>
                    <a href="#" title="Active Server Pages">Active Server Pages</a>
                    <a href="#" title="Oracle">Oracle</a>
                    <a href="#" title="Sql Server">Sql Server</a>
                    <a href="#" title="Desktop Applications">Desktop Applications</a>
                    <a href="#" title="Subscribe">Subscribe</a>

                </div>
            </li>
        </ul>
    </div>