---
// no imports at the moment
---

<script src="//unpkg.com/alpinejs" defer></script>

<div x-data="{ open: false }" class="menu-container" @mouseleave="open = false">
	<button @mouseover="open = true" class="menu_title">Category</button>
	<div x-show="open" class="submenu" x-transition>
		<ul class="submenu_list">
			<li class="submenu_item">Sub-category 1</li>
			<li class="submenu_item">Sub-category 2</li>
		</ul>
	</div>
</div>