---
// no imports at the moment
---

<script src="//unpkg.com/alpinejs" defer></script>
 
<div x-data="{ open: false }">
	<button x-on:click="open = ! open">
		Toggle
	</button>

	<p x-show="open" x-transition>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, accusantium repellendus facere dignissimos praesentium deleniti rerum adipisci dolores ullam harum officiis distinctio vitae voluptatem maiores earum molestias sapiente provident!
	</p>
</div>