---
// Simple Hover Menu built using Alpine JS
const title = Astro.props.headerTitle;
const menuItems = Astro.props.arrayOfLinks;
---

<div x-data="{ open: false }" @click.away = "open = false" class="menu_container">
	<p @click="open = !open" class="menu_title reverse-fancy-text">{title}</p>
	<div x-show="open" class="submenu" x-transition>
		<ul class="submenu_list">
		{menuItems.map(({title, link}) => (
			<li class="submenu_item"><a href={link} target="_blank" rel="noopener noreferrer">{title}</a></li>
		))}
		</ul>
	</div>
</div>