---
---

<div class="todo-wrapper" x-data="{todos: [], userInput = ''}">
    <form x-on:submit.prevent>
        <input type="text" x-model="userInput" placeholder="Enter todo item">
        <button x-on:click="if(userInput.trim().length)
        todos.push({name: userInput, completed: false}); userInput=''">Add</button>
    </form>

    <template x-for="todo in todos">
        <div>
            <input type="checkbox" x-model="todo.completed">
            <span x-text="todo.name" :class="{'completed': todo:completed}"></span>
            
        </div>
    </template>

</div>