---
// nothing to import here, yet.
---

<div class="weather-container">
    <h2 id="location">Location</h2>
    <img id="now-icon" src="" alt="Current Weather Icon"/>
	<p id="temp-now">
        Temp Now
    </p>
	<img id="later-icon" src="" alt="Forecasted Weather Icon"/>
    <p id="temp-later">
        Temp later
    </p>
</div>
<script src={Astro.resolve("../scripts/main.js")}></script>


