---
import axios from "axios";

const weatherNow = "https://api.m3o.com/v1/weather/Now";
const weatherForecast = "https://api.m3o.com/v1/weather/Forecast";
const API_TOKEN = "ZmJlNWFhYjEtNGQ0NC00YjhjLWI0MmMtNTI4MzRiNmZkOGFk";
axios
    .get(weatherNow, {
        headers: {
            "Content-Type": "application/json",
            Authorization: "Bearer " + API_TOKEN,
        },
        params: {
            location: "Saint Charles, IL",
        },
    })
    .then(function (response) {
        console.log(response.data.data);
    });
---

<div class="weather-container">
    <h2 id="location">Location</h2>
    <p id="temp-now">Temp Now</p>
    <p id="temp-later">Temp Later</p>
</div>


