---
const response = await fetch("https://graphql-weather-api.herokuapp.com", 
  {
    method:'POST',
    headers: {'Content-Type':'application/json'},
    body: JSON.stringify({
      query: `
        query getWeather($name:String!) {
            getCityByName(name: $name, config: { units: imperial, lang: en }){
              name
              country
              weather {
                temperature {
                    actual
                    feelsLike
                }
                summary {
                    description
                }
              }
            }
          }
        `,
      variables: {
          name: 'Orlando',
      },
    }),
  })

const json = await response.json();
const weather = json.data
---
  <h1 class="force-center">Weatcher Astro Comp</h1>
  <h2 class="force-center reverse-fancy-text">{weather.getCityByName.name}, {weather.getCityByName.country}</h2>
  <p class="force-center topbottom-1">Weather: {weather.getCityByName.weather.summary.description} Temp: {weather.getCityByName.weather.temperature.actual} ℉</p>